<h6>Connect</h6>

<a href="https://twitter.com/miniumphone"><i class="fa fa-twitter"></i><span class="hidden_purus">Twitter</span></a>
<a href="https://instagram.com/miniumphone/"><i class="fa fa-instagram"></i><span class="hidden_purus">Instagram</span></a>